body{
    text-align:center;
    padding:0px;
    height:1000px;
}
nav{
    height:45px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:45px;
}

nav ul li {
    float: left;
}

nav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
nav ul li a:hover {
            background-color: #111;
        }
    #twitch:hover{
        background-color:mediumpurple;
    }
    #youtube:hover{
        background-color:red;
    }
   .right{
       float:right;
   }
aside{
    width:171px;
    height:900px;
    background-color: #f1f1f1;
    float:left;
}
aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 171px;    
}

aside ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
    /* Change the link color on hover */
aside ul li a:hover {
        background-color: #555;
        color: white;
    }
    .active {
    background-color: #4CAF50;
    color: white;
} 
main{
    float:left;
}
fieldset{
    display:none;
}
table {
    width: 100%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
footer{
    clear:both;
    height:55px;
}