<template>
  <q-card>
  <q-tabs v-model="tab">
    <q-tab name="loginTab" label="登入" />
    <q-tab name="registerTab" label="註冊" />
  </q-tabs>
  <q-tab-panels v-model="tab">
    <q-tab-panel name="loginTab">
      <q-form v-on:submit="login">
        <q-input type="text" label="使用者名稱" v-model="userName" required></q-input>
        <q-input type="password" label="密碼" v-model="passWord" required></q-input>
        <q-btn type="submit">登入</q-btn>
      </q-form>
    </q-tab-panel>
    <q-tab-panel name="registerTab">
      <q-form v-on:submit="register">
        <q-input type="text" label="暱稱" v-model="nickName" required></q-input>
        <q-input type="text" label="使用者名稱" v-model="userName" required></q-input>
        <q-input type="password" label="密碼" v-model="passWord" required></q-input>
        <q-input type="password" label="確認密碼" v-model="confirm" v-bind:rules="[$rules.sameAs(passWord,'密碼不相符')]" required></q-input>
        <q-input type="email" label="電子信箱" v-model="email" required></q-input>
        <q-btn type="submit">註冊</q-btn>
      </q-form>
    </q-tab-panel>
  </q-tab-panels>
</q-card>
</template>
<script setup>
  import { ref } from 'vue'
import { useRouter } from 'vue-router'
  const router=useRouter()
  let tab = ref('loginTab'),
    userName = ref(''),
    passWord = ref(''),
    nickName = ref(''),
    confrim = ref(''),
    email = ref('')
  function login() {
    localStorage.setItem('userName',userName.value)
    router.replace({
      path:'/admin/dashboard'
    })
  }
  function register() {
    router.replace({
      path:'/admin/dashboard'
    })
  }
</script>
<style scoped>
</style>
