<template>
  <q-page padding>
    <q-table v-bind:rows="rows">
      <template v-slot:top>
        <q-btn v-on:click="isAdd=true">新增</q-btn>
      </template>
      <template v-slot:header>
        <q-tr>
          <q-th>建立者</q-th>
          <q-th>關鍵字</q-th>
          <q-th>回應</q-th>
          <q-th>層級</q-th>
          <q-th>呼叫間隔</q-th>
          <q-th>動作</q-th>
        </q-tr>
      </template>
      <template v-slot:top-row>
          <q-tr v-show="isAdd" class="text-center">
            <q-td v-text="newRow.addedBy"></q-td>
            <q-td>
              <q-input v-model="newRow.keyword"/>         
            </q-td>
            <q-td>
              <q-input v-model="newRow.response"/>           
            </q-td>
            <q-td>
              <q-select                
                v-model="newRow.level"
                v-bind:options="levels"
                option-label="label"
                option-value="value"
                emit-value map-options filled/>     
            </q-td>
            <q-td>
              <q-input v-model.number="newRow.interval" type="number"/>         
            </q-td>
            <q-td>
              <q-btn-group>
                <q-btn v-on:click="AddRow">完成</q-btn>
                <q-btn v-on:click="isAdd=false">取消</q-btn>
              </q-btn-group>
            </q-td>
          </q-tr>
      </template>
      <template v-slot:body="props">
          <q-tr v-bind:props="props" class="text-center">
            <q-td v-text="props.row.addedBy"></q-td>
            <q-td>
              <q-input  v-if="isEdit" v-model="props.row.keyword"/>            
              <span v-else v-text="props.row.keyword"></span>
            </q-td>
            <q-td>
              <q-input  v-if="isEdit" v-model="props.row.response"/>            
              <span v-else v-text="props.row.response"></span>
            </q-td>
            <q-td>
              <q-select
                v-if="isEdit"
                v-model="props.row.level"
                v-bind:options="levels"
                option-label="label"
                option-value="value"
                emit-value map-options filled/>            
              <span v-else v-text="levels.find(lv=>lv.value===props.row.level).label"></span>
            </q-td>
            <q-td>
              <q-input  v-if="isEdit" v-model.number="props.row.interval" type="number"/>            
              <span v-else v-text="props.row.interval"></span>
            </q-td>
            <q-td>
              <q-btn-group  v-if="isEdit">
                <q-btn>完成</q-btn>
                <q-btn v-on:click="isEdit=false">取消</q-btn>
              </q-btn-group>
              <q-btn-group  v-else>
                <q-btn v-on:click="isEdit=true">編輯</q-btn>
                <q-btn v-on:click="RemoveRow(props.row.id)">刪除</q-btn>
              </q-btn-group>
            </q-td>
          </q-tr>
      </template>
    </q-table>
  </q-page>
</template>
<script>
import { reactive, ref } from "vue"
export default {
    name: 'Command',
    setup() {
      let levels = [
          {
            label: '擁有者',
            value:'Owner'
          }, {
            label: '管理員',
            value:'Moderator'
          }, {
            label: '觀眾',
            value:'Viewer'
          }
        ],        
      logInUser=localStorage.getItem('userName'),        
      isEdit = ref(false),
      isAdd = ref(false),
      rows = reactive([
        {
          id: 1,
          keyword: 'test',
          response: 'TEST',
          level: 'Owner',
          addedBy:'frtghj',
          interval:500,
        }
      ]),
        newRow=reactive({
          addedBy:logInUser,
          keyword: '',
          response: '',
          level: '',
          interval:0,
      })  
      return {
        rows, levels, isEdit, isAdd, newRow,
        AddRow() {
          if (Object.values(newRow).includes('')) return
          else {
            rows.push(
              {
                ...newRow,
                id: 2
              }
            )
            isAdd.value=false
          }
        },
        RemoveRow(index) {
          if(rows.find(row=>row.id===index).addedBy===logInUser) rows.splice(index-1,1)
        }
      }
    }
}
</script>
