<template>
  <img
    alt="Quasar logo"
    src="../assets/quasar-logo-vertical.svg"
    style="width: 200px; height: 200px"
  >
  <router-link to="/start-use">開始使用</router-link>

</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'IndexPage'
})
</script>
