<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PHP(FastCGI)" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\php-cgi.exe" resourceType="File" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <location path="delete.php">
    <connectionStrings>
      <remove name="LocalMySqlServer" />
      <remove name="LocalSqlServer" />
      <add connectionString="&quot;mysql:host=localhost;dbname=alianbot&quot;,&quot;halrison&quot;,&quot;10240102nal&quot;" name="LocalMySqlServer" />
    </connectionStrings>
  </location>
</configuration>