<template>
  <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title v-text="loginUser"></q-toolbar-title>
        <span class="text-center">Quasar v{{ $q.version }}</span>
        <q-space />
        <div class="text-right">登出</div>
      </q-toolbar>
    </q-header>
</template>
<script>
  import { ref } from 'vue'
  export default {
   name: 'Header',
    setup() {
      const leftDrawerOpen = ref(false)
      return {
        leftDrawerOpen,
        loginUser: localStorage.getItem('userName'),
        toggleLeftDrawer() {
          leftDrawerOpen.value = !leftDrawerOpen.value
        }
      }
    }
  }
</script>
