<template>
  <q-drawer
    v-model="leftDrawerOpen"
    show-if-above
    bordered>
    <q-list>
      <q-item-label header>連結</q-item-label>
      <q-item
        clickable
        tag="a"
        target="_parent"
        v-bind:href="linkItem.link"
        v-for="(linkItem,index) in linksList"
        v-bind:key="index">
        <q-item-section v-if="linkItem.icon" avatar>
          <q-icon v-bind:name="linkItem.icon" />
        </q-item-section>
        <q-item-section>
          <q-item-label v-text="linkItem.title "></q-item-label>
          <q-item-label caption v-text="linkItem.caption"></q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>
<script>
  export default {
    name: 'sideMenu',
    setup() {
      return {
        linksList: [
          {
            title: '儀錶板',
            caption: 'Dashboard',
            icon: 'dashboard',
            link: '/admin/dashboard'
          },
          {
            title: '指令',
            caption: 'Directive',
            icon: 'keyboard_command_key',
            link: '/admin/command'
          },
          {
            title: '點播清單',
            caption: 'Playlist',
            icon: 'queue_music',
            link: '/admin/song'
          },
          {
            title: '推播',
            caption: 'Broadcast',
            icon: 'podcasts',
            link: '/admin/broadcast'
          },
          {
            title: '博弈',
            caption: 'Gamble',
            icon: 'casino',
            link: '/admin/gamble'
          },
          {
            title: '投票',
            caption: 'Vote',
            icon: 'poll',
            link: '/admin/vote'
          },
          {
            title: '設定',
            caption: 'Setting',
            icon: 'settings',
            link: '/admin/setting'
          }
        ]
      }
    }
  }
</script>
