<template>
  <q-layout view="lHh Lpr lFf">
    <Header />
    <sideMenu />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
  import { defineComponent } from 'vue'
  import Header from '../components/Header.vue'
  import sideMenu from '../components/sideMenu.vue'
  export default defineComponent(
    {
      name: 'MainLayout',
      components: {
        Header,
        sideMenu
      }
    }
  )
</script>
