<template>
  <q-page padding>
    <q-table v-bind:rows="songs" class="text-center">
      <template v-slot:top>
        <q-btn v-on:click="isAdd=true">新增</q-btn>
      </template>
      <template v-slot:header>
        <q-tr>
          <q-th>標題</q-th>
          <q-th>網址</q-th>
          <q-th>點播者</q-th>
          <q-th>日期</q-th>
          <q-th>時間</q-th>
          <q-th>狀態</q-th>
          <q-th>動作</q-th>
        </q-tr>
      </template>
      <template v-slot:top-row>
        <q-tr v-show="isAdd">
          <q-td>
            <q-input v-model="newSong.title"></q-input>
          </q-td>
          <q-td>
            <q-input v-model="newSong.url" type="url"></q-input>
          </q-td>
          <q-td v-text="user"></q-td>
          <q-td></q-td>
          <q-td></q-td>
          <q-td></q-td>
          <q-td>
            <q-btn-group>
              <q-btn v-on:click="AddRow">完成</q-btn>
              <q-btn v-on:click="isAdd=false">取消</q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr>
          <q-td v-text="props.row.title"></q-td>
          <q-td v-text="props.row.url"></q-td>
          <q-td v-text="user"></q-td>
          <q-td v-text="props.row.date"></q-td>
          <q-td v-text="props.row.time"></q-td>
          <q-td v-text="props.row.status"></q-td>
          <q-td>
            <q-btn-group>
              <q-btn>編輯</q-btn>
              <q-btn>刪除</q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
    </q-table>
</q-page>
</template>
<script>
  import { reactive, ref } from "vue"
  export default {
      name: 'Song',
      setup(){
        let isAdd = ref(false),
          songs=reactive([]),
          newSong = reactive({
            title: '',
            url:''
          })
        return {
          isAdd,
          newSong,
          songs,
          user:localStorage.getItem('userName'),
          AddRow() {
            let today=new Date()
            songs.push(
              {
                ...newSong,
                id: 1,
                status: '等待中',
                date: today.toLocaleDateString(),
                time:today.toLocaleTimeString()
              }
            )
            isAdd.value=false
          }
        }
    }
  }
</script>
